PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/empada_cearense?schema=public"

JIRA_EMAIL=""
JIRA_API_TOKEN=""
JIRA_DOMAIN="https://sua-empresa.atlassian.net/"
JIRA_PROJECT_KEY="SCRUM"

POSTMAN_API_KEY=""
POSTMAN_COLLECTION_UID=""